.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

.container {
    /* max-width: var(--max-page-width); */
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    filter: brightness(0) invert(1);
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.nav a {
    color: white;
    font-weight: 500;
    font-size: 14px;
    transition: opacity 0.2s;
    letter-spacing: 0.5px;
}

.nav a:hover {
    opacity: 0.8;
}

.actions {
    display: flex;
    align-items: center;
}

.joinButton {
    margin-left: 40px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--yellow);
    /* Defines the SVG fill color */
    transition: color 0.2s;
}

.joinButton:hover {
    color: var(--yellow-hover);
}

.joinSvg {
    width: 104px;
    height: 40px;
}