.screen {
    width: 600;
    height: 900;
    max-width: 600;
    max-height: 900;
    background-color: #FFF6DC;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Instrument Serif', serif;
    user-select: none;
}

