:root {
  --green: #67B665;
  --green-dark: #589f56;
  --yellow: #fcd535;
  --yellow-hover: #e5be26;
  --text-dark: #2d3748;
  --text-light: #718096;
  --background: #ffffff;
  --off-white: #f7fafc;
  --pink-bg: #d788ce;

  --max-page-width: 1600px;

  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  color: var(--text-dark);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  width: 100%;
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 0 20px;
}